---
title: Recent news archives
suppress_header: true
extra_css:
  - press.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Recent News
    %p Recent news involving GitLab

.gitlab-content-container.margin-top50
  .content
    .content-section
      - data.press.recent_news.each do |news, index|
        .press-block
          .logo-and-date
            = image_tag "#{news.logo}", class: "news-logo-small", alt: "Gitlab news logo"
            %p.news-date
              = news.date.to_time.strftime '%b %e, %Y'
          %p
            = news.title
          %a.article-link{ href: "#{news.link}", target: "_blank" }
            Go to article
            %i.fa.fa-arrow-right
