- url = full_url(current_page)
.share-butons.clearfix
  %a.share-btn.share-btn-facebook{ href: "http://www.facebook.com/sharer.php?u=#{url}",
    target: "_blank",
    onclick: "openSocialLink(this, 500, 400); return false;" }
    %i.fab.fa-facebook
    %span.sr-only
      Share on Facebook
  %a.share-btn.share-btn-twitter{ href: "http://twitter.com/share?url=#{url}&text=#{current_page.data.title}",
    target: "_blank",
    onclick: "openSocialLink(this, 500, 400); return false;" }
    %i.fab.fa-twitter
    %span.sr-only
      Share on Twitter
  %a.share-btn.share-btn-linkedin{ href: "https://www.linkedin.com/shareArticle?mini=true&url=#{url}&title=#{current_page.data.title}&summary=&source=",
    target: "_blank",
    onclick: "openSocialLink(this, 500, 400); return false;" }
    %i.fab.fa-linkedin
    %span.sr-only
      Share on LinkedIn
