---
title: Value Stream Management
description: Value Stream Management
suppress_header: true
---
.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Value Stream Management & Analytics
    %p See how Value Stream Management from GitLab helps improve software delivery.
    %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/ee/user/project/cycle_analytics.html" } Cycle Analytics
.gitlab-content-container.reverse-content
  .content.row-layout
    .full-width
      %h2 Value Stream Management Tools
      %p GitLab is a "Strong Performer" in The Forrester New Wave: Value Stream Management Tools, Q3 2018.  According to the report, “GitLab combines end-to-end capability with the power of open source. GitLab offers a DevOps tool for each step of the software development process. Top-level views sitting across these tools provide its VSM functionalities.”
      %p GitLab is the first single application for the entire DevOps lifecycle, ensuring the delivery of both business objectives and quality software. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance.
      %p Our first attempt at helping organizations get a better understanding of their flow was the introduction of <a href="https://docs.gitlab.com/ee/user/project/cycle_analytics.html">Cycle Analytics</a> for all customers that follow the GitLab Flow. Cycle Analytics got a lot of attention and we quickly understood that while we are striving to define best practices, different organizations have different value streams and workflows. We aim to support the ability to define and measure these customized workflows in GitLab in order to deliver process improvements, move the industry forward, and serve our customers better. To see where we are headed, please take a look at our <a href="https://about.gitlab.com/direction/manage/value_stream_management">Category Strategy</a>.
      = link_to "Download Report", "/analysts/forrester-vsm", class: "btn cta-btn accent margin-top20"
    .full-width
      = image_tag "/images/vsm/Forrester_VSM_Tool_New_Wave-v1.png", class: "screenshot margin-bottom10", alt: "Forrester Value Stream Management New Wave"
      %i.font-small Value Stream Management
  .content
    %h2 Issue Boards for Mapping
    %iframe.full-width{ src: "https://www.youtube.com/embed/9ASHiQ2juYY", frameborder: "0", allow: "autoplay, encrypted-media", allowfullscreen: "" }
  .content
    %h2 Business Value Monitoring
    %iframe.full-width{ src: "https://www.youtube.com/embed/oG0VESUOFAI", frameborder: "0", allow: "autoplay, encrypted-media", allowfullscreen: "" }
  .content.row-layout
    .full-width
      %h2 End to end process
      %p The value streams help you visualize and manage the flow of new innovation from idea to customers.
      %ul
        %li
          %strong
            One toolchain:
          In software, the toolchain is your value stream.  GitLab brings the toolchain together into a single application.
        %li
          %strong
            Shared data:
          GitLab consolidates the disconnected islands of data into a complete view of actual work.
        %li
          %strong
            Focus on value - not ceremony:
          Track and manage the actual flow of work / value and eliminate unnecessary ceremony.
    .full-width
      = image_tag "/images/vsm/waste.png", class: "screenshot margin-bottom10", alt: "Value Streem Management End to End Process"
      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/6323", target: "_blank" }
        %i.font-small *Future feature, not actual screenshot
  .content.row-layout
    .full-width
      %h2 Measure
      %p Drive continuous improvement based on the data from your value stream.
      %ul
        %li
          %strong
            Track flow and accelerate:
          Focusing on the flow of value to customers is key to streamlining the delivery process.
        %li
          %strong
            Cycle time:
          Track the actual work and effort, the real cycle time to deliver value.
        %li
          %strong
            Business value:
          Link actual value back to the change.
    .full-width
      = image_tag "/images/vsm/line.png", class: "screenshot margin-bottom10", alt: "Value Streem Management End to End Process"
      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/6323", target: "_blank" }
        %i.font-small *Future feature, not actual screenshot
  .content.row-layout
    .full-width
      %h2 Manage
      %p The value streams help you visualize and manage the flow of new innovation from idea to customers.
      %ul
        %li
          %strong
            Identify constraints:
          Find the sources of friction in your value stream and optimise lead time.
        %li
          %strong
            Remove bottlenecks:
          Take action to address constraints.
        %li
          %strong
            Optimize flow:
          Accelerate and
    .full-width
      = image_tag "/images/vsm/bars.png", class: "screenshot margin-bottom10", alt: "Value Streem Management End to End Process"
      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/6323", target: "_blank" }
        %i.font-small *Future feature, not actual screenshot
